body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: pink;
  text-align: center;
  
}

.form-group {
  padding-top: 3rem;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
 
  
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
  
  
  
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-content: center;
  
}

.game-info {
  margin-left: 20px;
}
.game-board {
  padding: 200px;
  padding-left: 50rem;
  
}

header {
 
  text-align: center;
  
  width: 100%;
  background-color: white;
  color: black;
  
  position:fixed;
  left: 0;

  top: 0;
  height: 74px;
  border-bottom: solid black 1px;
  padding: 4px;
}



.navbar {
  float: left;
}

.history {
  padding-top: 50%;
}


.main {
 position: absolute;
 left: 43%;
 
}









@media screen and (max-width: 400px) {
 .square {
   width: 30px;
   height: 30px;
   font-size: 50px;
   text-align: left;
 }
  
  }

